[phases.setup]
nixPkgs = ["python3", "python3Packages.pip", "wget", "gnupg", "curl"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "python3 course_monitor.py"
